<div class=" d-flex align-items-center justify-content-center">
    <div class="feedback-wrapper ">
        <div class="feedback-form d-flex align-items-center justify-content-center ">
            <form>
                <!--img-->
                <div class="contact-image">
                    <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" />
                </div>
                <h3>Give Us a Feedback</h3>
                <!-- feedback -->
 
                <!-- commentaire -->
                <div class="form-outline mb-4">
                    <textarea class="form-control" rows="4"></textarea>
                    <label class="form-label">Message</label>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
            </form>

        </div>

    </div>
</div>