<div class=" d-flex align-items-center justify-content-center">
  <div class="contact-wrapper">
    <div class="contact-form d-flex align-items-center justify-content-center">
      <form>
        <!--img-->
        <div class="contact-image">
          <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
      </div>
          <h3>Drop Us a Message</h3>
        <!-- Name input -->
        <div class="form-outline mb-4">
          <input type="text"  class="form-control" />
          <label class="form-label" >Name</label>
        </div>
      
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email"  class="form-control" />
          <label class="form-label" >Email address</label>
        </div>
      
        <!-- Message input -->
        <div class="form-outline mb-4">
          <textarea class="form-control"  rows="4"></textarea>
          <label class="form-label" >Message</label>
        </div>
            
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Send Message</button>
      </form>

    </div>

  </div>
</div>