<div class="about-wrapper d-flex align-items-center justify-content-center">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col">
                <div class="card d-flex align-items-center justify-content-center">
                    <iframe src="https://giphy.com/embed/KAGNjQwiadTJw0eLs2"  frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Contact us</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                          </p>
                            <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark" routerLink="/contact-us" >
                              Go
                            </button>
                        
                          
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card d-flex align-items-center justify-content-center">
                    <iframe src="https://giphy.com/embed/jUKo0QXOCDzij1LTfN"  frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Give us a feedback</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                          </p>
                          <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark" routerLink="/feedback">
                            Go
                          </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card d-flex align-items-center justify-content-center">
                    <iframe src="https://giphy.com/embed/How4EwvMEW4H4AUUJ4" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Read about our website </h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                          </p>
                          <button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark" routerLink="/info">
                            Go
                          </button>
                    </div>
                </div>
</div>