<div class="tabs">
    <a routerLink="home" routerLinkActive="selected" class="tab home-tab" mdbTooltip="Home" placement="bottom">
        <div class="tab-tile">
            <i class="material-icons-outlined" >home</i>
        </div>
    </a>

    <a routerLink="recognition" routerLinkActive="selected" class="tab recognition-tab" mdbTooltip="Recognition" placement="bottom" >
        <div class="tab-tile">
            <i class="material-icons-outlined" >sentiment_neutral</i>
        </div>
    </a>


    <a routerLink="configuration" routerLinkActive="selected" class="tab configuration-tab" mdbTooltip="Settings" placement="bottom">
        <div class="tab-tile">
            <i class="material-icons-outlined">settings</i>
        </div>
    </a>

    <a routerLink="about" routerLinkActive="selected" class="tab about-tab" mdbTooltip="About" placement="bottom">
        <div class="tab-tile">
            <i class="material-icons-outlined">info</i>
        </div>
    </a>
</div>