<div class="setting-wrapper">
    <div class="config">

        <mdb-tabs [justified]="true">
            
                <mdb-tab title="Profil" class="">
                    <form class="" >
                        <label>Username</label>
                        <!-- username input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="username"  class="form-control" />
                        </div>
                        <label>Email address</label>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email"  id="email" class="form-control" />
                        </div>
                        <label>Prefered genre</label>
                        <!-- genre input -->
                        <div class="form-outline mb-4">
                            <input type="text"  id="genre" class="form-control" />
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block">Save</button>
                    </form>

                </mdb-tab>




                <mdb-tab title="Playlists">
                    <div class="config">
                        <div class="row d-flex align-items-center justify-content-center">
                            <div class="col">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <iframe src="https://giphy.com/embed/QWvra259h4LCvdJnxP" frameBorder="0"
                                        class="giphy-embed"></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Happy</h5>

                                        <div class="form-outline">
                                            <input type="url" id="typeURL" class="form-control" />
                                            <label class="form-label" for="typeURL">URL input</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <iframe src="https://giphy.com/embed/kyQfR7MlQQ9Gb8URKG" frameBorder="0"
                                        class="giphy-embed"></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Angry</h5>
                                        <div class="form-outline">
                                            <input type="url" id="typeURL" class="form-control" />
                                            <label class="form-label" for="typeURL">URL input</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <iframe src="https://giphy.com/embed/W3CLbW0KY3RtjsqtYO" frameBorder="0"
                                        class="giphy-embed"></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Disgust</h5>
                                        <div class="form-outline">
                                            <input type="url" id="typeURL" class="form-control" />
                                            <label class="form-label" for="typeURL">URL input</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <iframe src="https://giphy.com/embed/XEyXIfu7IRQivZl1Mw" frameBorder="0"
                                        class="giphy-embed"></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Fear</h5>
                                        <div class="form-outline">
                                            <input type="url" id="typeURL" class="form-control" />
                                            <label class="form-label" for="typeURL">URL input</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex align-items-center justify-content-center">
                            <div class="col d-flex align-items-center justify-content-center">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <iframe src="https://giphy.com/embed/j2NFnjcXwni0E9KcdI" frameBorder="0"
                                        class="giphy-embed"></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Surprise</h5>
                                        <div class="form-outline">
                                            <input type="url" id="typeURL" class="form-control" />
                                            <label class="form-label" for="typeURL">URL input</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <iframe src="https://giphy.com/embed/IzcFv6WJ4310bDeGjo" frameBorder="0"
                                        class="giphy-embed"></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Sad</h5>
                                        <div class="form-outline">
                                            <input type="url" id="typeURL" class="form-control" />
                                            <label class="form-label" for="typeURL">URL input</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center">
                                <div class="card d-flex align-items-center justify-content-center">
                                    <iframe src="https://giphy.com/embed/H4cBu6XqKJtGujEXll" frameBorder="0"
                                        class="giphy-embed"></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Neutral</h5>
                                        <div class="form-outline">
                                            <input type="url" id="typeURL" class="form-control" />
                                            <label class="form-label" for="typeURL">URL input</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class=" butt d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-success btn-rounded">Confirmer</button>
                        <button type="button" class="btn btn-warning btn-rounded">Rèinitialiser</button>
                    </div>
                </mdb-tab>
        </mdb-tabs>
    </div>
</div>


<!--
    <div class="setting-wrapper">
    <div class="config">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col">
                <div class="card d-flex align-items-center justify-content-center">
                    <iframe src="https://giphy.com/embed/QWvra259h4LCvdJnxP" frameBorder="0" class="giphy-embed" ></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Happy</h5>
                        <div class="form-outline">
                            <input type="url" id="typeURL" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card d-flex align-items-center justify-content-center">
                   <iframe src="https://giphy.com/embed/kyQfR7MlQQ9Gb8URKG" frameBorder="0" class="giphy-embed" ></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Angry</h5>
                        <div class="form-outline">
                            <input type="url" id="typeURL" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card d-flex align-items-center justify-content-center">
                    <iframe src="https://giphy.com/embed/W3CLbW0KY3RtjsqtYO" frameBorder="0" class="giphy-embed" ></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Disgust</h5>
                        <div class="form-outline">
                            <input type="url" id="typeURL" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card d-flex align-items-center justify-content-center">
                    <iframe src="https://giphy.com/embed/XEyXIfu7IRQivZl1Mw" frameBorder="0" class="giphy-embed" ></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Fear</h5>
                        <div class="form-outline">
                            <input type="url" id="typeURL" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col d-flex align-items-center justify-content-center">
                <div class="card d-flex align-items-center justify-content-center">
                    <iframe src="https://giphy.com/embed/j2NFnjcXwni0E9KcdI" frameBorder="0" class="giphy-embed" ></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Surprise</h5>
                        <div class="form-outline">
                            <input type="url" id="typeURL" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <div class="card d-flex align-items-center justify-content-center">
                    <iframe src="https://giphy.com/embed/IzcFv6WJ4310bDeGjo" frameBorder="0" class="giphy-embed"  ></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Sad</h5>
                        <div class="form-outline">
                            <input type="url" id="typeURL" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <div class="card d-flex align-items-center justify-content-center">
                    <iframe src="https://giphy.com/embed/H4cBu6XqKJtGujEXll" frameBorder="0" class="giphy-embed"  ></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Neutral</h5>
                        <div class="form-outline">
                            <input type="url" id="typeURL" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class=" butt d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-success btn-rounded">Confirmer</button>
        <button type="button" class="btn btn-warning btn-rounded">Rèinitialiser</button>
    </div>


</div>
-->