<div class="recognition-wrapper  d-flex  align-items-center justify-content-center">


  <div>
    <div class="" style="color:rgb(255, 255, 255)">
      <a routerLink="/login/" routerLinkActive="selected" class="btn" >
          <i class="material-icons-outlined">login</i>
          Login
      </a><br>
      <a routerLink="/register/" routerLinkActive="selected" class="btn" >
          <i class="material-icons">app_registration</i>
          Register
      </a>
  </div>
  </div>
  <div class="left-side text-center">
    <img class=" d-flex  img" src="../../assets/niceone.gif" alt="error" width="900">
  </div>
  <div class="right-side">
    <div class="share-buttons">
      <div class="share-button">
        <div class="share-button-secondary">
          <div class="share-button-secondary-content">
            share on twitter
          </div>
        </div>
        <div class="share-button-primary">
          <img src="https://img.icons8.com/color/48/000000/twitter--v2.png" />
        </div>
      </div>
      <div class="share-button">
        <div class="share-button-secondary">
          <div class="share-button-secondary-content">
            share on facebook
          </div>
        </div>
        <div class="share-button-primary">
          <img src="https://img.icons8.com/fluency/48/000000/facebook-circled.png" />
        </div>
      </div>

      <div class="share-button">
        <div class="share-button-secondary">
          <div class="share-button-secondary-content">
            share in Instagram
          </div>
        </div>
        <div class="share-button-primary">
          <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" />
        </div>
      </div>

      <div class="share-button">
        <div class="share-button-secondary">
          <div class="share-button-secondary-content">
            share in Linkdein
          </div>
        </div>
        <div class="share-button-primary">
          <img src="https://img.icons8.com/color/48/000000/linkedin.png" />
        </div>
      </div>

      <div class="share-button">
        <div class="share-button-secondary">
          <div class="share-button-secondary-content">
            share on google+
          </div>
        </div>
        <div class="share-button-primary">
          <img src="https://img.icons8.com/color/48/000000/google-logo.png" />
        </div>
      </div>
    </div>
  </div>
 




</div>