<div class="registration-form d-flex align-items-center justify-content-center">
    <form>

        <div >
            <h6 class=" d-flex align-items-center justify-content-center">Sign in with :</h6>
        </div>
        <div class=" d-flex  justify-content-center">
            <button type="button" class=" btt btn btn-primary  align-items-center mx-1  d-flex ">
                <i class="fab fa-facebook-f  "></i>
              </button>

              <button type="button" class=" btt btn btn-primary align-items-center mx-1 d-flex">
                <i class="fab fa-google"></i>
              </button>
      
              <button type="button" class="btt btn btn-primary align-items-center mx-1 d-flex">
                <i class="fab fa-twitter"></i>
              </button>
      
              <button type="button" class="btt btn btn-primary align-items-center mx-1 d-flex">
                <i class="fab fa-github"></i>
              </button>
        </div>
       
        <div class>
            <h6> Or: </h6>
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" id="email" placeholder="email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control item" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-block create-account" (click)="register">Register</button>
        </div>

        <hr>
        <div class=" d-flex align-items-center justify-content-center">
            you have already an account?<a  routerLink="/login/" routerLinkActive="selected"> LOGIN</a>
        </div >
    </form>
</div>

<!--
<div class="registration-form d-flex align-items-center justify-content-center">
    <form>
        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control item" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-block create-account">Create Account</button>
        </div>
        <div class=" d-flex align-items-center justify-content-center">
            <a  href="#" >Sign in</a>
        </div >
        <hr>
        <div >
            <h6 class=" d-flex align-items-center justify-content-center">Sign up with :</h6>
            <div class="social-icons d-flex align-items-center justify-content-center">
                <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
                <a href="#"><i class="icon-social-google" title="Google"></i></a>
                <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
            </div>
        </div>
    </form>
    
</div>
-->